<div class="centered-fitted" id="userData">
  <div class="collapse multi-collapse show" id="login" data-parent="#userData">
  <form class="user-form needs-validation" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    <label for="inputEmailLogin">E-mail address</label>
    <input type="email" id="inputEmailLogin" class="form-control" formControlName="userName" autofocus>
    <div *ngIf="loginForm.get('userName').invalid && (loginForm.get('userName').dirty || loginForm.get('userName').touched)"
      class="validation-alert">
      <div *ngIf="loginForm.get('userName').errors?.required">E-mail address is required.</div>
      <div *ngIf="loginForm.get('userName').errors?.email">This is not a valid e-mail address</div>
    </div>
    <label for="inputPasswordLogin">Password</label>
    <input type="password" id="inputPasswordLogin" class="form-control" formControlName="password" required>
    <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)"
      class="validation-alert">
      <div *ngIf="loginForm.get('password').errors?.required">Password is required.</div>
      <div *ngIf="loginForm.get('password').errors?.minlength">Password must be at least 4 characters long</div>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-block btn-submit" type="submit" [disabled]="!loginForm.valid">Sign in</button>
    <div class="validation-alert">{{errorMessage}}</div>
    <div class="footer">
      <div class="h4 mb-3 font-weight-normal">Nog geen account?</div>
      <button class="btn btn-block btn-border" data-toggle="collapse" data-target="#register" aria-expanded="true" aria-controls="register">Registreer nu</button>
    </div>
  </form>
  </div>
  <div class="collapse multi-collapse" id="register" data-parent="#userData">
    <div class="footer">
      <div class="h4 mb-3 font-weight-normal">Hebt u al een account?</div>
      <button class="btn btn-block btn-border" data-toggle="collapse" data-target="#login" aria-expanded="true" aria-controls="login">Login</button>
    </div>
    <form class="user-form needs-validation" [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <h1 class="h3 mb-3 font-weight-normal">New account</h1>
      <label for="inputFirstName">First name</label>
      <input type="text" id="inputFirstName" class="form-control" formControlName="firstName" autofocus>
      <div *ngIf="registerForm.get('firstName').invalid && (registerForm.get('firstName').dirty || registerForm.get('firstName').touched)"
        class="validation-alert">
        <div *ngIf="registerForm.get('firstName').errors?.required">First name is required.</div>
      </div>
      <label for="inputLastName">Last name</label>
      <input type="text" id="inputLastName" class="form-control" formControlName="lastName" autofocus>
      <div *ngIf="registerForm.get('lastName').invalid && (registerForm.get('lastName').dirty || registerForm.get('lastName').touched)"
        class="validation-alert">
        <div *ngIf="registerForm.get('lastName').errors?.required">Last name is required.</div>
      </div>
      <label for="inputEmail">E-mail address</label>
      <input type="email" id="inputEmail" class="form-control" formControlName="email" autofocus>
      <div *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)"
        class="validation-alert">
        <div *ngIf="registerForm.get('email').errors?.required">E-mail is required.</div>
        <div *ngIf="registerForm.get('email').errors?.email">Please enter a valid e-mail address</div>
      </div>
      <label for="inputPassword">Password</label>
      <input type="password" id="inputPassword" class="form-control" formControlName="password" autofocus>
      <div *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)"
        class="validation-alert">
        <div *ngIf="registerForm.get('password').errors?.required">Password is required.</div>
        <div *ngIf="registerForm.get('password').errors?.minlength">Password must be at least 4 characters long</div>
      </div>
      <label for="inputRepeatPassword">Repeat password</label>
      <input type="password" id="inputRepeatPassword" class="form-control" formControlName="repeatPassword"
        autofocus>
      <div *ngIf="registerForm.get('repeatPassword').invalid && (registerForm.get('repeatPassword').dirty || registerForm.get('repeatPassword').touched)"
        class="validation-alert">
        <div *ngIf="registerForm.get('repeatPassword').errors?.required">Password is required.</div>
        <div *ngIf="registerForm.get('repeatPassword').errors?.minlength">Password must be at least 4 characters long</div>
      </div>
      <button class="btn btn-lg btn-block btn-submit" type="submit" [disabled]="!registerForm.valid">Register</button>
    </form>
  </div>
</div>
