<!-- Modal -->
<div id="cartModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Shopping cart</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div *ngIf="order.orders.length == 0">
            No items in shopping cart
          </div>
          <div *ngIf="order.orders.length > 0">
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-2 col-2 tableheader"></div>
              <h6 class="col-lg-4 col-md-4 col-sm-4 d-none d-sm-block tableheader">Naam</h6>
              <h6 class="col-lg-2 col-md-2 col-sm-2 d-none d-sm-block tableheader">Prijs</h6>
              <h6 class="col-lg-2 col-md-2 col-sm-2 d-none d-sm-block tableheader">Aantal</h6>
              <h6 class="col-lg-2 col-md-2 col-sm-2 d-none d-sm-block tableheader">Subtotaal</h6>
            </div>
            <app-cart-item *ngFor="let ord of order.orders" [orderItem]="ord"></app-cart-item>
          <div>
        </div>
      </div>
      <div class="modal-footer">
        <div *ngIf="order.orders.length > 0">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-7 tableheader">Verzendkosten</div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-5">gratis</div>
          </div>
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-7 tableheader">Totaal</div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-5">{{order.total | currency:'EUR'}}</div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-42 col-sm-12 col-12">
              <a routerLink="/cart" class="btn btn-success btn-block" data-dismiss="modal">Afrekenen</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


