<nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="navbartop">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      <img src="https://www.misskatecuttables.com/uploads/shopping_cart/7639/large_ladybug.png" width="50" height="50" class="d-inline-block align-top" alt="">
      Shop
    </a>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a href="#" class="nav-link" data-toggle="modal" data-target="#cartModal">
          <i class="fas fa-shopping-cart"></i>Cart <span *ngIf="itemCount > 0" class="badge badge-info">{{itemCount}}</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="userService.loginRequired">
        <a class="nav-link" routerLink="/login"><i class="fas fa-user-circle"></i>Log In</a>
      </li>
      <li class="nav-item dropdown" *ngIf="!userService.loginRequired">
        <a class="nav-link dropdown-toggle" href="#" id="accountMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="!userService.loginRequired">
          <i class="fas fa-user-circle"></i>{{userService.currentUser.email}}
        </a>
        <div class="dropdown-menu" aria-labelledby="accountMenu" >
          <a class="dropdown-item" href="#">Account</a>
          <a class="dropdown-item" href="#">History</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="logOut()">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container main">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="custom-bootstrap-submenu">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown-full-width" *ngFor="let category of categories" routerLinkActive="active-nav-item">
          <a class="nav-link" [routerLink]="['/products']" [queryParams]="{ category: category.id}">{{category.name}}</a>
          <div class="dropdown-fullwidth-content">
            <div class="card-columns" id="custom-category-cards">
                <div class="card" *ngFor="let subcat of category.subCategories">
                    <div class="card-body">
                      <ul class="list-group">
                        <li class="list-group-item" [routerLink]="['/products']" [queryParams]="{ category: subcat.id}">
                          <a class="list-group-header">{{subcat.name}}</a>
                        </li>
                        <li class="list-group-item" *ngFor="let subcat2 of subcat.subCategories" [routerLink]="['/products']" [queryParams]="{ category: subcat2.id}">
                          <a class="list-group-link">{{subcat2.name}}</a>
                        </li>
                      </ul>
                    </div>
                </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <app-shopping-cart></app-shopping-cart>
  <router-outlet></router-outlet>
</div>
