.navbar-brand{
  line-height: 50px;
}
.nav {
  margin-bottom: 0;
}
#navbartop {
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding: 0;
  z-index: 9999;
}
.main {
  margin-top: 60px;
}
.card-body{
  border-style: none;
}
#custom-bootstrap-submenu .nav-link{
  color: black;
  cursor: pointer;
}
#custom-bootstrap-submenu .active-nav-item .nav-link {
  font-weight: bold;
}
#custom-bootstrap-submenu .nav-link:focus,
#custom-bootstrap-submenu .nav-link:hover,
#custom-bootstrap-submenu .dropdown-full-width:hover .nav-link,
#custom-bootstrap-submenu .active-nav-item{
  border-bottom: 2px solid crimson;
}
.dropdown-fullwidth-content,
.dropdown-fullwidth-content .list-group,
.dropdown-fullwidth-content .list-group-item,
.dropdown-fullwidth-content .card,
.dropdown-fullwidth-content .card-body{
  background-color: #f9f9f9;
}
.dropdown-fullwidth-content {
  display: none;
  margin-top: 0px;
  position: absolute;
  width: 100%;
  left:0;
  z-index: 1;
}
.dropdown-full-width:hover .dropdown-fullwidth-content {
  display: block;
}
.dropdown-fullwidth-content .card,
.dropdown-fullwidth-content .card-header{
  border-style: none;
}
.list-group-header{
  font-weight: bold;
  text-decoration-line: none;
}
.dropdown-fullwidth-content .list-group-item:hover .list-group-link,
.dropdown-fullwidth-content .list-group-item:hover .list-group-header
{
  color: black;
}
.list-group-link,
.list-group-header{
  color: gray;
}
.list-group-link:hover,
.list-group-header:hover{
  border-bottom-color: crimson;
  border-bottom-style: solid;
}
.dropdown-fullwidth-content .card .list-group-item
{
  border-style: none;
  border-radius: 0;
  cursor: pointer;
}

