.navbar-brand{
  line-height: 50px;
}
.nav {
  margin-bottom: 0;
}
#navbartop {
  padding: 0px;
}
.card-body{
  border-style: none;
}
#custom-bootstrap-submenu .nav-link{
  color: black;
}
#custom-bootstrap-submenu .active-nav-item .nav-link {
  font-weight: bold;
}
#custom-bootstrap-submenu .nav-link:focus,
#custom-bootstrap-submenu .nav-link:hover,
#custom-bootstrap-submenu .dropdown-full-width:hover .nav-link,
#custom-bootstrap-submenu .active-nav-item{
  border-bottom: 2px solid crimson;
}
.dropdown-fullwidth-content,
.dropdown-fullwidth-content .list-group,
.dropdown-fullwidth-content .list-group-item,
.dropdown-fullwidth-content .card,
.dropdown-fullwidth-content .card-body{
  background-color: #f9f9f9;
}
.dropdown-fullwidth-content {
  display: none;
  margin-top: 0px;
  position: absolute;
  width: 100%;
  left:0;
  z-index: 1;
}
.dropdown-full-width:hover .dropdown-fullwidth-content {
  display: block;
}
.dropdown-fullwidth-content .list-group-item:hover{
  border-bottom-color: crimson;
}
.dropdown-fullwidth-content .card,
.dropdown-fullwidth-content .card-header{
  border-style: none;
}
.list-group-header{
  font-weight: bold;
  color: rgb(52, 58, 64);
  text-decoration-line: none;
}
.list-group-link{
  color: gray;
}
.dropdown-fullwidth-content .card .list-group-item
{
  border-style: solid none solid none;
  border-radius: 0;
  cursor: pointer;
}
.dropdown-fullwidth-content .card .list-group-item:first-child
{
  border-style: none none solid none;
  border-radius: 0;
}
